body {
    background-color: #31393c;
}

p
{
    color: #2176ff;
    white-space: nowrap;
    font-size: 12px;
    font-family: Monocraft;
    src: url(https://github.com/IdreesInc/Monocraft/releases/download/v2.5/Monocraft.otf);
    text-align: center;
}

pre
{
    color: #2176ff;
    font-size: 12px;
    src: url(https://github.com/IdreesInc/Monocraft/releases/download/v2.5/Monocraft.otf);
    text-align: center;
}

/* Links */
a:link {
    color: #f79824;
    text-decoration: none;
}
a:visited {
    color: #33a1fd;
    text-decoration: none;
}
a:hover {
    color: #fdca40;
    text-decoration: underline;
}

#white
{
    color: white;
}

#straight
{
    /* Not me */
    white-space: nowrap;
    display: inline;
    text-align: center;
    line-break: strict;
}

#title
{
    white-space:pre;
    color: white;
    font-family: serif, sans-serif;
}


.hide {
    display: none;
}

.show:hover + .hide {
    display:inline;
    color: red;
}