@font-face {
    font-family: "Monocraft";
    src: url(../fonts/Monocraft.ttf) format("truetype");
    font-style: normal;
}

body {
    background-color: #261447;
}

p
{
    color: #51e5ff;
    white-space: nowrap;
    font-size: 13px;
    font-family: 'monocraft';
    text-align: center;
}

pre
{
    color: #51e5ff;
    font-size: 12px;
    text-align: center;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Links */
a:link {
    color: #ffc759;
    text-decoration: none;
}
a:visited {
    color: lightcyan;
    text-decoration: none;
}
a:hover {
    color: #ff7b9c;
    text-decoration: underline;
}

#twodotsthree
{
    /* :3 doesn't look good at around 13xp */
    font-size: 16px;
}

#white
{
    color: white;
}

#straight
{
    /* Not me */
    white-space: nowrap;
    display: inline;
    text-align: center;
    line-break: strict;
}

#title
{
    white-space:pre;
    color: white;
    font-family: serif, sans-serif;
}

.yellow
{
    color: #fdca40;
}

.lightBlue
{
    color: #33a1fd;
}

.pink
{
    color: #db93b0;
}